@page "/"

@using Syncfusion.Blazor.Layouts
@inject NavigationManager NavigationManager
@implements IDisposable

<div class="container">
    <SfDashboardLayout @ref="Dashboard" ID="dashboard" CellSpacing="@(new double[]{10 ,10 })" Columns="6">
        <DashboardLayoutEvents OnDragStop="dragStop"></DashboardLayoutEvents>
        <DashboardLayoutPanels>
            <DashboardLayoutPanel SizeX="2" Row="0" Col="0" CssClass="e-orange">
                <ContentTemplate>
                    <div class="card">
                        <div class="card-content text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                        </div>
                    </div>
                    <a class="footer" href="#">
                        More info
                    </a>
                </ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel SizeX="2" Row="0" Col="2" CssClass="e-blue">
                <ContentTemplate>
                    <div class="card e-employee">
                        <div class="card-content text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                        </div>
                    </div>
                    <a class="footer" href="#">
                        More info
                    </a>
                </ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel SizeX="2" Row="0" Col="4" CssClass="e-green">
                <ContentTemplate>
                    <div class="card e-employee">
                        <div class="card-content text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                        </div>
                    </div>
                    <a class="footer" href="#">
                        More info
                    </a>
                </ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel SizeX="2" SizeY="2" Row="1" Col="0" CssClass="e-seablue">
                <ContentTemplate>
                    <div class="card e-employee">
                        <div class="card-content text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.

                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                        </div>
                    </div>
                    <a class="footer" href="#">
                        More info
                    </a>
                </ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel SizeX="2" Row="1" Col="2" CssClass="e-yellow">
                <ContentTemplate>
                    <div class="card e-employee">
                        <div class="card-content text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                        </div>
                    </div>
                    <a class="footer" href="#">
                        More info
                    </a>
                </ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel SizeX="2" Row="1" Col="4" CssClass="e-cyan">
                <ContentTemplate>
                    <div class="card e-employee">
                        <div class="card-content text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                        </div>
                    </div>
                    <a class="footer" href="#">
                        More info
                    </a>
                </ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel SizeX="2" Row="2" Col="2" CssClass="e-sandal">
                <ContentTemplate>
                    <div class="card e-employee">
                        <div class="card-content text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                        </div>
                    </div>
                    <a class="footer" href="#">
                        More info
                    </a>
                </ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel SizeX="2" Row="2" Col="4" CssClass="e-voilet">
                <ContentTemplate>
                    <div class="card e-employee">
                        <div class="card-content text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                        </div>
                    </div>
                    <a class="footer" href="#">
                        More info
                    </a>
                </ContentTemplate>
            </DashboardLayoutPanel>
        </DashboardLayoutPanels>
    </SfDashboardLayout>
</div>

@code {
    SfDashboardLayout Dashboard;
    HubConnection Connection;
    private int row;
    private int col;

    protected override async Task OnInitializedAsync()
    {
        // Create a Hub connection.
        Connection = new HubConnectionBuilder().WithUrl(NavigationManager.ToAbsoluteUri("/DashboardHub")).Build();
        // Detect the client event from server side.
        Connection.On<string, int, int>("LayoutChange", OnLayoutChange);
        await Connection.StartAsync();
    }

    public async Task dragStop(DragStopArgs args)
    {
        // Fetch the corresponding drag element.
        var id = args.Element.Id;
        // Get the current dashboard layout panel position using Serialize() method
        var value = await this.Dashboard.Serialize();
        for (int i = 0; i < value.Count; i++)
        {
            if (value[i].Id == args.Element.Id)
            {
                // Assign the corresponding row and column based on id after drag completion.
                row = value[i].Row;
                col = value[i].Column;
            }
        }
        // Call the dashboard method method inside the Hub.
        await Connection.InvokeAsync("DashbordDragandDrop", id, row, col);
    }
    Task OnLayoutChange(string id, int row, int column)
    {
        // Call the movepanel method to assign the exact position to the panel after dragging.
        this.Dashboard.MovePanelAsync(id, row, column);
        return Task.CompletedTask;
    }

    public void Dispose()
    {
        _ = Connection.DisposeAsync();
    }
}
<style>
    .card-content.text {
        font-size: 14px;
        text-align: justify;
        color: #fff;
        padding: 8px 16px;
    }

    .card {
        border: none;
        background-color: inherit;
        position: relative;
    }

    #dashboard .e-panel.e-blue {
        background-color: #00c0ef;
    }

    #dashboard .e-panel.e-green {
        background-color: #00a65a;
    }

    #dashboard .e-panel.e-yellow {
        background-color: #af8646;
    }

    #dashboard .e-panel.e-orange {
        background-color: #f0910c;
    }

    #dashboard .e-panel.e-red {
        background-color: #dd4b39;
    }

    #dashboard .e-panel.e-voilet {
        background-color: #3c8dbc;
    }

    #dashboard .e-panel.e-seablue {
        background-color: #39CCCC;
    }

    #dashboard .e-panel.e-sandal {
        background-color: #e6bd50;
    }

    #dashboard .e-panel.e-cyan {
        background-color: #de4747;
    }

    #dashboard.e-responsive div#layout_1, #dashboard.e-responsive div#layout_0 {
        max-height: 150px;
    }

    .container .footer {
        position: absolute;
        font-size: 13px;
        bottom: 0px;
        text-align: center;
        padding: 3px 0;
        color: rgba(255,255,255,0.8);
        display: block;
        z-index: 10;
        background: rgba(0,0,0,0.1);
        text-decoration: none;
        width: 100%;
    }

    .container {
        width: 800px;
        margin: 0;
    }

    @@media(max-width:600px) {
        .container {
            flex: 1;
            width: auto;
        }
    }
</style>
